<!-- django_project/users/templates/users/profile.html -->
{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock title %}
{% block body %}
<style>
  .navbar-nav{
      margin-left: auto;
  }
</style>
<nav class="navbar navbar-expand-sm navbar-responsive bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Livestock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add">Add Animal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'upload_video'%}">Upload Video</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'profile'%}">Profile</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </li>
    </ul>
  </div>
</div>
</nav>
<br>
<br>
<div class="container">
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <legend class="border-bottom mb-4">Profile Information:<h2 class="account-heading">{{ user.username }}</h2></legend>
        <div class="media">
            <div class="media-body">

                    Location: <small class="text-muted">{{ profile.location }}</small><br><br><br>

                Username: <p class="text-secondary">{{ profile.user }} </p>
                Biodata: <p class="text-secondary">{{ profile.bio }}</p>
                Date of Birth<p class="text-secondary">{{ profile.date_of_birth }}</p>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}