
{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %} video {% endblock title %}
{% block body %}
<style>
  .navbar-nav{
      margin-left: auto;
  }
</style>
<nav class="navbar navbar-expand-sm navbar-responsive bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Livestock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

  </div>
</div>
</nav>
<br>
<br>
<div class="container">
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <legend class="border-bottom mb-4">{{ video.title }}<h2 class="account-heading"></h2></legend>
        <div class="media">
            <div class="media-body">

<a href="{{ video.video_file.url }}" ><video width="320" height="240" controls>
        <source src="{{ video.video_file.url }}" type="{{ video.video_file.content_type }}">
        Your browser does not support the video tag.
    </video></a>

<h2>Related Videos</h2>
<ul>
    {% for related_video in related_videos %}
    <li>

    <a href="{{ video.video_file.url }}" ><video width="320" height="240" controls>
        <source src="{{ video.video_file.url }}" type="{{ video.video_file.content_type }}">
        Your browser does not support the video tag.
    </video></a> <a href="{% url 'video_detail' video_id=video.id %}">{{ video.title }}</a></li>
    {% empty %}
        <li>No related videos found.</li>
    {% endfor %}
</ul>


            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}